<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to onebill stop!</title>
</head>
<body>
    <div class="container">
        <button onclick="location.href='/onboard'">Register and use now!</button>
        <button onclick="location.href='/login'">Get in</button>
    </div>
</body>
</html>